:root {
    --main-bg: #FFF5F6;
    --second: #FFB8CA;
    /*second и для бекграунда хиро и для заголовков типа 100% natural*/
    --base-content: #FFFFFF;
    --accent-cotent: #D41443;
    --btn-hover: #ECEBEB;
    /*для остальных кнопок ховер=акцентный*/
    --add-one: #F0D1A5;
    --add-two: #C2E297;
    /*add=additional, дополнительный цвет для карточек продуктов + в контактах используется*/
}