:root {
    --main-font: 'DM Sans', sans-serif;
    --secondary-font: 'Titan One', cursive;
    --color-pink-light: #fff5f6;
    --color-pink-darker-pink: #ffb8ca;
    /*darker pink  для бекграунда хиро b для заголовков типа 100% natural*/
    --color-white: #ffffff;
    --color-pink-accent: #d41443;
    --color-btn-hover: #ecebeb;
    /*для остальных кнопок ховер=акцентный*/
    --color-yellow: #f0d1a5;
    --color-green: #c2e297;
    /* дополнительный цвет для карточек продуктов + в контактах используется*/
    --color-black: #000000;
    --color-subtext: #907e82;
}