:root {

  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;
    --color-pink-light: #FFF5F6;
    --color-pink-darker-pink: #FFB8CA;
    /*darker pink  для бекграунда хиро b для заголовков типа 100% natural*/
    --color-white: #FFFFFF;
    --color-pink-accent: #D41443;
    --color-btn-hover: #ECEBEB;
    /*для остальных кнопок ховер=акцентный*/
    --color-yellow: #F0D1A5;
    --color-green: #C2E297;
    /* дополнительный цвет для карточек продуктов + в контактах используется*/
    --color-black: #000000;
    --color-subtext: #907e82;
}

