<section class="advantages">
    <div class="container">
        <h2 class="advantages__title">Components icecream</h2>
        <ul class="advantages__components-icecream">
            <li class="advantages__item">
                <img class="">
                <p class="">721</p>
                <p class="">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <img class="">
                <p class="">16kg</p>
                <p class="">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <img class="">
                <p class="">84</p>
                <p class="">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>