<section class="contact" id="contacts">
    <div class="container">
    <h2 class="contakt-heading visually-hidden">Сontacts and location with working hours</h2>
        <ul class="contact-container__list">
            <li class="contact-container__list-item list">
                <p class="contact-container__list-heading-cafe"> cafe </p>
            </li>
            <li class="contact-container__list-item list">
                <p class="contact-container__list-item-head">Chicago</p>
                <p class="contact-container__list-item-head-item"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-container__list-item list">
                <span class="contact-container__list-item-day-container">
                    <p class="contact-container__list-item-day">Monday - Friday</p>
                    <p class="contact-container__list-item-day-item">06:00 AM - 10:00 PM</p>
                </span>
                <span>
                    <p class="contact-container__list-item-day">Saturday - Sunday</p>
                    <p class="contact-container__list-item-day-item">08:00 AM - 16:00 PM</p>
                </span>
            </li>
            <li class="contact-container__list-item list">
                <a class="contact-container__list-item-tellink link" 
                    href="tel:+380991111111">+61(0) 383 766 284</a>
                <a class="contact-container__list-item-tellink link" 
                    href="mailto:info@example.com" lang="en">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="contact-container__list">
            <li class="contact-container__list-item list">
                <p class="contact-container__list-heading-foodtruck"> foodtruck </p>
            </li>
            <li class="contact-container__list-item list">
                <p class="contact-container__list-item-head">Los Angeles</p>
                <p class="contact-container__list-item-head-item"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-container__list-item list">
                <span class="contact-container__list-item-day-container">
                    <p class="contact-container__list-item-day">Monday - Friday</p>
                    <p class="contact-container__list-item-day-item">06:00 AM - 10:00 PM</p>
                </span>
                <span>
                    <p class="contact-container__list-item-day">Saturday - Sunday</p>
                    <p class="contact-container__list-item-day-item">08:00 AM - 16:00 PM</p>
            </span>
                </li>
            <li class="contact-container__list-item list">
                <a class="contact-container__list-item-tellink link" 
                    href="tel:+380991111111">+61(0) 383 766 284</a>
                <a class="contact-container__list-item-tellink link" 
                    href="mailto:info@example.com" lang="en">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="contact-container__list">
            <li class="contact-container__list-item list">
                <p class="contact-container__list-heading-cafe"> cafe </p>
            </li>
            <li class="contact-container__list-item list">
                <p class="contact-container__list-item-head">New York</p>
                <p class="contact-container__list-item-head-item"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-container__list-item list">
                <span class="contact-container__list-item-day-container">
                    <p class="contact-container__list-item-day">Monday - Friday</p>
                    <p class="contact-container__list-item-day-item">06:00 AM - 10:00 PM</p>
                </span>
                <span>
                    <p class="contact-container__list-item-day">Saturday - Sunday</p>
                    <p class="contact-container__list-item-day-item">08:00 AM - 16:00 PM</p>
                </span>
            </li>
            <li class="contact-container__list-item list">
                <a class="contact-container__list-item-tellink link" href="tel:+380991111111">+61(0) 383 766 284</a>
                <a class="contact-container__list-item-tellink link" href="mailto:info@example.com"
                    lang="en">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="button-locations__container">
            <li class="button-locations__class list">
            <button type="button" class="button-locations"> Our Locations
                <svg class="button-locations-pink">
                    <use href="./sprite/sprite.svg#icon-vector-btn-light"></use>
                </svg> 
            </button>
            </li>
        <li class="button-franchise__class list">
            <button type="button" class="button-franchise"> Franchise 
                <svg class="button-franchise-pink">
                    <use href="./sprite/sprite.svg#icon-vector-btn-pink"></use>
                </svg>
            </button>
            </li>
        </ul>
    </div>
</section>