<section class="contact">
    <h2 class="contakt-heading visually-hidden">Сontacts and location with working hours</h2>
    <div class="container">
        <div class="contact-container">
            <ul class="contact-container__list "></ul>
                    <span class="contact-container__heading"> cafe </span>
                <li class="contact-container__list-item list">
                    <span class="contact-container__list-item-head">Chicago</span>
                    <p class="contact-container__list-item-head-item"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contact-container__list-item list">
                    <div class="contact-container__list-item-day-container">
                        <span class="contact-container__list-item-day">Monday - Friday</span>
                        <p class="contact-container__list-item-day-item">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <span class="contact-container__list-item-day">Saturday - Sunday</span>
                        <p class="contact-container__list-item-day-item">08:00 AM - 16:00 PM</p>
                    </div>
                </li>
                <li class="contact-container__list-item list">
                    <a class="contact-container__list-item-tellink link" 
                    href="tel:+380991111111">+61(0) 383 766 284</a>
                    <a class="contact-container__list-item-tellink link" 
                    href="mailto:info@example.com" lang="en">noreply@envato.com</a>
                </li>
            </ul>
        </div>
        <div class="contact-container">
            <ul class="contact-container__list "></ul>
            <span class="contact-container__heading"> cafe </span>
            <li class="contact-container__list-item list">
                <span class="contact-container__list-item-head">Chicago</span>
                <p class="contact-container__list-item-head-item"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-container__list-item list">
                <div class="contact-container__list-item-day-container">
                    <span class="contact-container__list-item-day">Monday - Friday</span>
                    <p class="contact-container__list-item-day-item">06:00 AM - 10:00 PM</p>
                </div>
                <div>
                    <span class="contact-container__list-item-day">Saturday - Sunday</span>
                    <p class="contact-container__list-item-day-item">08:00 AM - 16:00 PM</p>
                </div>
            </li>
            <li class="contact-container__list-item list">
                <a class="contact-container__list-item-tellink link" href="tel:+380991111111">+61(0) 383 766 284</a>
                <a class="contact-container__list-item-tellink link" href="mailto:info@example.com"
                    lang="en">noreply@envato.com</a>
            </li>
            </ul>
        </div>
    </div>
</section>