<footer class="footer">
    <div class="footer__container-main container">
        <div class="footer__container-description">
            <p>homemade ice cream made</p>
            <p>with passion</p>
        </div>
        <div class="footer__container-icons">
            <ul class="footer-list-icons list">
                <li class="social-list__item footer-list-icons__item">
                    <a href="" class="social-list__link footer-list-icons__link link">
                        <svg class="social-list__icon" width="32" height="32">
                            <use href="./sprite/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item footer-list-icons__item">
                    <a href="" class="social-list__link footer-list-icons__link link">
                        <svg class="social-list__icon" width="32" height="32">
                            <use href="./sprite/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item footer-list-icons__item">
                    <a href="" class="social-list__link footer-list-icons__link link">
                        <svg class="social-list__icon" width="32" height="32">
                            <use href="./sprite/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>

            </ul>
        </div>
        <div class="footer__contact">
            <p>Feel free to contact </p>
            <a class="footer__link-phone link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
        </div>
        <p class="copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>