<section class="gallery">
    <div class="container">
<h2 class="visually-hidden">Gallery</h2>
<picture>
    <source srcset="./image/gallery/bg1-desktop.webp 1x, ./image/gallery/bg1-desktop@2x.webp 2x"
    media="(min-width: 1200px)" type="image/webp">
    <source srcset="./image/gallery/bg-desktop.jpg 1x, ./image/gallery/bg-desktop@2x.jpg 2x"
    media="(min-width: 1200px)">
    <source srcset="./image/gallery/bg1-tablet.webp 1x, ./image/gallery/bg1-tablet@2x.webp 2x"
    media="(min-width: 768px)" type="image/webp">
    <source srcset="./image/gallery/bg-tablet.jpg 1x, ./image/gallery/bg-tablet@2x.jpg 2x"
    media="(min-width: 768px)">
    <source srcset="./image/gallery/bg1-mobile.webp 1x, ./image/gallery/bg1-mobile@2x.webp 2x"
    media="(max-width: 767px)" type="image/webp">
    <source srcset="./image/gallery/bg-mobile.jpg 1x, ./image/gallery/bg-mobile@2x.jpg 2x"
    media="(max-width: 767px)">
    <img class="galery_pict" src="./image/gallery/bg-mobile.jpg"
        alt="Gallery">
</picture>
</div>
</section>