<section class="gallery" id="gallery">
    <div class="gallery__container container">
        <picture>
            <source srcset="./image/gallery/bg1-desktop.webp 1x, ./image/gallery/bg1-desktop@2x.webp 2x"
                media="(min-width:1200px)" type="image/webp">
            <source srcset="./image/gallery/bg1-desktop.png 1x, ./image/gallery/bg1-desktop@2x.png 2x"
                media="(min-width:1200px)">
            <source srcset="./image/gallery/bg1-tablet.webp 1x, ./image/gallery/bg1-tablet@2x.webp 2x"
                media="(min-width:768px)" type="image/webp">
            <source srcset="./image/gallery/bg1-tablet.png 1x, ./image/gallery/bg1-tablet@2x.png 2x"
                media="(min-width:768px)">
            <source srcset="./image/gallery/bg1-mobile.webp 1x, ./image/gallery/bg1-mobile@2x.webp 2x"
                media="(min-width:320px)" type="image/webp">
            <source srcset="./image/gallery/bg1-mobile.png 1x, ./image/gallery/bg1-mobile@2x.png 2x"
                media="(min-width:320px)">
            <img class="gallery__img" src="./image/gallery/bg1-mobile.png" alt="gallery cards">
        </picture>
    </div>
</section>