<div class="container">
    <header class="header">
        
            <a href="./index.html" class="logo link">ICECREAM</a>


        


</header>
<section class="hero">
        <h1>ice cream made with passion</h1>
        <a class="btn link" href="#">Products</a>
        <a class="btn link" href="#">How it’s made?</a>
        <img src="" alt="мороженое в вафельном рожке">

</section>
</div>

            <div class="tuch-menu">
                <button class="btn" type="button">Buy now</button>
                <ul class="list tuch-menu__list">
                    <li class="tuch-menu__item"><a href="" class="link tuch-menu__link tuch-menu__link-active">Home</a></li>
                    <li class="tuch-menu__item"><a href="" class="link tuch-menu__link">About us</a></li>
                    <li class="tuch-menu__item"><a href="" class="link tuch-menu__link">How it’s made?</a></li>
                    <li class="tuch-menu__item"><a href="" class="link tuch-menu__link">Our products</a></li>
                    <li class="tuch-menu__item"><a href="" class="link tuch-menu__link">Contact</a></li>
                </ul>
            </div>