<header class="header" id="home">
    <div class="container">

        <a href="./index.html" class="logo link">
            <picture>
                <!-- <source srcset="./image/hero-header/logo-vector.webp 1x, ./image/hero-header/logo-vector@2x.webp 2x"
                    type="image/webp"> -->
                <source srcset="./image/hero-header/logo-vector.png 1x, ./image/hero-header/logo-vector@2x.png 2x">                
                <img class="logo__img" src="./image/hero-header/logo-vector.png" alt="logo">
            </picture>
            <span class="logo_text link">ICECREAM</span>
        </a>
        <nav class="menu">
            <ul class="navigation-list list">
                <li class="navigation-list__item">
                    <a class="active-navigation-link navigation-link link" href="./index.html">Home</a>
                </li>
                <li class="navigation-list__item">
                    <a class="navigation-link link" href="#advantages">About us</a>
                </li>
                <li class="navigation-list__item">
                    <a class="navigation-link link" href="#about">How it’s made?</a>
                </li>
                <li class="navigation-list__item">
                    <a class="navigation-link link" href="#products">Our products</a>
                </li>
                <li class="navigation-list__item">
                    <a class="navigation-link link" href="#contacts">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header__btn-wrapper">
            <button type="button" class="burger-btn" data-menu-button>
                <svg class="burger-icon" height="12" width="20">
                    <use href="./sprite/sprite.svg#icon-burger"></use>
                </svg>
            </button>
            <button type="button" data-modal-open class="btn header-btn animate__animated animate__rubberBand">Buy now
                <svg height="8" width="4">
                    <use href="./sprite/sprite.svg#icon-vector-btn-pink"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
<section class="hero">
    <div class="container">
        <span class="circle animate__animated animate__flip"></span>
        <picture>
            <source
                srcset="./image/hero-header/icecream-desktop.webp 1x, ./image/hero-header/icecream-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source srcset="./image/hero-header/icecream-desktop.png 1x, ./image/hero-header/icecream-desktop@2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./image/hero-header/icecream-tablet.webp 1x, ./image/hero-header/icecream-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./image/hero-header/icecream-tablet.png 1x, ./image/hero-header/icecream-tablet@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./image/hero-header/icecream-mobile.webp 1x, ./image/hero-header/icecream-mobile@2x.webp 2x"
                media="(max-width: 768px)" type="image/webp">
            <source srcset="./image/hero-header/icecream-mobile.png 1x, ./image/hero-header/icecream-mobile@2x.png 2x"
                media="(max-width: 768px)">
            <img class="hero__main-img animate__animated animate__flipInY" src="./image/hero-header/icecream-mobile.png"
                alt="Icecream">
        </picture>
        <picture>
            <source srcset="./image/hero-header/milk-desktop.webp 1x, ./image/hero-header/milk-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source srcset="./image/hero-header/milk-desktop.png 1x, ./image/hero-header/milk-desktop@2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./image/hero-header/milk-tablet.webp 1x, ./image/hero-header/milk-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./image/hero-header/milk-tablet.png 1x, ./image/hero-header/milk-tablet@2x.png 2x"
                media="(min-width: 768px)">
            <img class="hero__milk-img animate__animated animate__fadeInLeft src=" ./image/hero-header/milk-tablet.png"
                alt="jug of milk">
        </picture>
        <picture>
            <source srcset="./image/hero-header/girl-desktop.webp 1x, ./image/hero-header/girl-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source srcset="./image/hero-header/girl-desktop.png 1x, ./image/hero-header/girl-desktop@2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./image/hero-header/girl-tablet.webp 1x, ./image/hero-header/girl-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./image/hero-header/girl-tablet.png 1x, ./image/hero-header/girl-tablet@2x.png 2x"
                media="(min-width: 768px)">
            <img class="hero__girl-img animate__animated animate__fadeInRight" src="./image/hero-header/girl-tablet.png"
                alt="smiling girl with icecream">
        </picture>
        <p class="hero-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <a class="hero-arrow__circe" href="#">
            <svg class="hero-arrow__arrow" width="5px" height="5px">
                <use href="./sprite/sprite.svg#icon-arrow-forward"></use>
            </svg>
        </a>
        <ul class="hero-counter__list list">
            <li class="hero-counter__item">
                <div class="hero-counter__wrapper">
                    <p class="hero-counter__value">16</p>
                    <p class="hero-counter__param">cafes</p>
                </div>
                <span class="hero-counter__circe"></span>

            </li>
            <li class="hero-counter__item">

                <div class="hero-counter__wrapper">
                    <p class="hero-counter__value">23</p>
                    <p class="hero-counter__param">food trucks</p>
                </div>
                <span class="hero-counter__circe"></span>

            </li>
        </ul>
        <h1 class="main-title">ice cream made with <span class="main-title--colored">passion</span></h1>
        <ul class="list hero__btn-list">
            <li class="hero__btn-item"><a class="btn btn-colored link" href="#products">Products</a></li>
            <li class="hero__btn-item"><a class="btn link" href="#about">How it’s made?</a></li>
        </ul>
    </div>

</section>
<div class="touch-menu" data-menu>
    <button type="button" class="close-btn" data-menu-close>
        <svg class="close-icon" height="14" width="14">
            <use href="./sprite/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <div class="container">
        <button data-modal-open-1 class="btn" type="button">
            <span class="touch-menu-btn__wrapper">
                <span class="touch-menu-btn__text-btn-wrapper">Buy now</span>
                <svg height="8" width="4">
                    <use href="./sprite/sprite.svg#icon-vector-btn-pink"></use>
                </svg>
            </span>
        </button>
    </div>
    <ul class="list touch-menu__list">
        <li class="touch-menu__item"><a href="#home" class="link tuch-menu__link touch-menu__link-active">Home</a></li>
        <li class="touch-menu__item"><a href="#advantages" class="link touch-menu__link">About us</a></li>
        <li class="touch-menu__item"><a href="#about" class="link touch-menu__link">How it’s made?</a></li>
        <li class="touch-menu__item"><a href="#products" class="link touch-menu__link">Our products</a></li>
        <li class="touch-menu__item"><a href="#contacts" class="link touch-menu__link">Contact</a></li>
    </ul>
</div>