<section class="products">
    <div class="container">
        <p>100% natural</p>
        <h2 class="products_header header-section">Products</h2>
        <ul class="products_list list">
            <li class="products_item icecream-card">
                <picture><img src="./image/product/cream-mobile.png" alt="pink-colored icecream"></picture>
                <h3>ice cream</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p><button></button></li>
            <li class="products_item icecream-card">
                <picture><img src="./image/product/coffee-mobile.png" alt="coffee icecream"></picture>
                <h3>ice coffee</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p><button></button></li>
            <li class="products_item icecream-card ">
                <picture><img src="./image/product/shakes-mobile.png" alt="chocolate icecream"></picture>
                <h3>milkshakes</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p><button></button></li>
        </ul>
    </div>
</section>