.header-section {
    font-family: Titan One;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 34px;
line-height: 1.14;
text-align: center;
    color: var(--color-pink-accent);
}