.contact {
  padding-top: 43px;
  padding-bottom: 56px;
  background-image: linear-gradient(
    to top,
    var(--color-pink-light) 5%,
    var(--color-pink-light) 92%,
    var(--color-white) 92%
  );
}

.contact-container {
  margin: 0 auto;
  max-width: 220px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  &:nth-last-child(2) {
    margin-bottom: 54px;
  }
  &:nth-child(1) {
    margin-bottom: 20px;
  }
  &:nth-child(2) {
    margin-bottom: 20px;
  }
  &__heading-cafe {
    display: inline-block;
    font-family: var(--main-font);
    @include font(500, 12px, 22px);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    background: var(--color-yellow);
    border-radius: 4px;
    margin-top: 43px;
    margin-bottom: 25px;
    padding-left: 24px;
    padding-right: 24px;
  }
  &__heading-foodtruck {
    display: inline-block;
    font-family: var(--main-font);
    @include font(500, 12px, 22px);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    background: var(--color-green);
    border-radius: 4px;
    margin-top: 43px;
    margin-bottom: 25px;
    padding-left: 24px;
    padding-right: 24px;
  }
  &__list-item:not(:last-child) {
    display: block;
    border-bottom: 1px solid var(--color-gray-border);
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  &__list-item-head {
    display: block;
    font-family: var(--main-font);
    @include font(500, 12px, 22px);
    letter-spacing: 0.04em;
    margin-bottom: 10px;
  }
  &__list-item-head-item {
    font-family: var(--main-font);
    @include font(500, 12px, 18px);
    color: var(--color-subtext);
  }
  &__list-item-day-container {
    margin-bottom: 10px;
  }
  &__list-item-day {
    font-family: var(--main-font);
    @include font(500, 12px, 22px);
  }
  &__list-item-day-item {
    font-family: var(--main-font);
    @include font(500, 12px, 22px);
    color: var(--color-pink-dark);
  }
  &__list-item-tellink {
    font-family: var(--main-font);
    @include font(500, 12px, 18px);
    color: var(--color-subtext);
    font-style: normal;
  }
}

.button-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.button-locations__class {
  &:nth-child(1) {
    margin-bottom: 10px;
  }
}

.button-locations {
  font-family: var(--main-font);
  @include font(700, 16px, 21px);
  color: var(--color-white);
  background: var(--color-pink-accent);
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  min-width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 21px;
  border-width: 0px;
  cursor: pointer;
  margin: 0px auto;
  &-pink {
    width: 4px;
    height: 8px;
    fill: var(--color-white);
  }
}

.button-franchise {
  font-family: var(--main-font);
  @include font(700, 16px, 21px);
  color: var(--color-pink-accent);
  background: var(--color-white);
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  min-width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 21px;
  border-width: 0px;
  cursor: pointer;
  margin: 0px auto;
  &-pink {
    width: 4px;
    height: 8px;
    fill: var(--color-pink-accent);
  }
}

@media screen and(min-width: 768px) {
  .contact {
    padding-top: 58px;
    padding-bottom: 79px;
    background-image: linear-gradient(
      to top,
      var(--color-pink-light) 5%,
      var(--color-pink-light) 92%,
      var(--color-white) 92%
    );
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    max-width: 220px;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding-bottom: 43px;
    padding-left: 20px;
    padding-right: 20px;
    &:nth-last-child(2) {
      margin-bottom: 54px;
    }
    &:nth-child(1) {
      margin-bottom: 20px;
    }
    &:nth-child(2) {
      margin-bottom: 20px;
    }
    &__heading-cafe {
      display: inline-block;
      font-family: var(--main-font);
      @include font(500, 12px, 22px);
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
      background: var(--color-yellow);
      border-radius: 4px;
      margin-top: 43px;
      margin-bottom: 25px;
      padding-left: 24px;
      padding-right: 24px;
    }
    &__heading-foodtruck {
      display: inline-block;
      font-family: var(--main-font);
      @include font(500, 12px, 22px);
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
      background: var(--color-green);
      border-radius: 4px;
      margin-top: 43px;
      margin-bottom: 25px;
      padding-left: 24px;
      padding-right: 24px;
    }
    &__list-item:not(:last-child) {
      display: block;
      border-bottom: 1px solid var(--color-gray-border);
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
    &__list-item-head {
      display: block;
      font-family: var(--main-font);
      @include font(500, 12px, 22px);
      letter-spacing: 0.04em;
      margin-bottom: 10px;
    }
    &__list-item-head-item {
      font-family: var(--main-font);
      @include font(500, 12px, 18px);
      color: var(--color-subtext);
    }
    &__list-item-day-container {
      margin-bottom: 10px;
    }
    &__list-item-day {
      font-family: var(--main-font);
      @include font(500, 12px, 22px);
    }
    &__list-item-day-item {
      font-family: var(--main-font);
      @include font(500, 12px, 22px);
      color: var(--color-pink-dark);
    }
    &__list-item-tellink {
      font-family: var(--main-font);
      @include font(500, 12px, 18px);
      color: var(--color-subtext);
      font-style: normal;
    }
  }

  .button-section {
    flex-direction: row;
  }

  .button-locations__class {
    &:nth-child(1) {
      margin-bottom: 0px;
      margin-right: 10px;
    }
  }

  .button-locations {
    font-family: var(--main-font);
    @include font(700, 16px, 21px);
    color: var(--color-white);
    background: var(--color-pink-accent);
    border-radius: 22px;
    text-align: center;
    justify-content: center;
    min-width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 21px;
    border-width: 0px;
    cursor: pointer;
    margin: 0px auto;
    &-pink {
      width: 4px;
      height: 8px;
      fill: var(--color-white);
    }
  }

  .button-franchise {
    font-family: var(--main-font);
    @include font(700, 16px, 21px);
    color: var(--color-pink-accent);
    background: var(--color-white);
    border-radius: 22px;
    text-align: center;
    justify-content: center;
    min-width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 21px;
    border-width: 0px;
    cursor: pointer;
    margin: 0px auto;
    &-pink {
      width: 4px;
      height: 8px;
      fill: var(--color-pink-accent);
    }
  }
}

@media screen and(min-width: 1200px) {
}
