.customer-reviews {
  background-color: var(--color-white);
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    padding-top: 121px;
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.customer-reviews__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px 20px;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 0px 74px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0px 177px;
  }
}

.customer-reviews__img {
  align-items: center;
  margin: 0 auto;
  width: 85px;
  height: 85px;
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}

.customer-reviews__text-wrapper {
  background: #fafafa;
  margin: 0 auto;
  align-items: center;
  padding-top: 43px;
  padding-left: 57px;
  padding-right: 66px;
  padding-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 47px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 34px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 47px;
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 39px;
  }
}

.customer-reviews__description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: var(--color-black);
  background-image: repeating-linear-gradient(
    rgba(100%, 100%, 100%, 0%) 0px,
    rgba(100%, 100%, 100%, 0%) 28px,
    #e1e1e1 28px,
    #e1e1e1 29px
  );

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    background-image: repeating-linear-gradient(
      rgba(100%, 100%, 100%, 0%) 0px,
      rgba(100%, 100%, 100%, 0%) 27px,
      #e1e1e1 27px,
      #e1e1e1 28px
    );
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.86;
    background-image: repeating-linear-gradient(
      rgba(100%, 100%, 100%, 0%) 0px,
      rgba(100%, 100%, 100%, 0%) 25px,
      #e1e1e1 25px,
      #e1e1e1 26px
    );
  }
}

.customer-reviews__description::before {
  content: url('/image/customer-reviews/1.png');
  position: absolute;
  display: block;
  width: 54px;
  height: 40px;
  margin-left: -4px;
  margin-top: -15px;
  opacity: 0.5;

  @media screen and (min-width: 768px) {
    padding-left: -40px;
    padding-top: -17px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: -37px;
    padding-top: -15px;
  }
}

.customer-reviews__info {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: var(--color-black);
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.customer-reviews__info::before {
  content: '. . .';
  display: flex;
  margin: 0 auto;
  font-weight: 900;
  color: var(--color-pink-accent);
  letter-spacing: 0.005rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}
.customer-reviews__list-slaider {
  display: flex;
  align-items: center;
  margin: 0 auto;
  list-style-type: none;
}
.customer-reviews__item-slaider {
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 35px;
  }
}

.customer-reviews__item-slaider:not(:last-child) {
  margin-right: 18px;
}
