.gallery {
  padding-top: 48px;
  padding-bottom: 170px;
}

.gallery__container {
  max-width: 1280px;
  width: 100%;
  //   margin-left: auto;
  //   margin-right: auto;
  min-width: 364px;
  max-width: 480px;
  height: 122px;
  //   margin: 0 auto;
  margin-left: -18px;
  background-image: linear-gradient(
    to bottom,
    var(--color-pink-accent) 48px,
    var(--color-white) 74px
  );
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and(min-width: 1200px) {
    max-height: 430px;
  }

  @media screen and(min-width: 768px) {
    left: -9px;
    height: 264px;
  }

  .gallery__img {
    margin-bottom: 20px;
    transform: translateY(-48px);
  }
}
