.header {
  background-color: var(--color-pink-darker-pink);
}

.header .container {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 6px;
  justify-content: space-between;
  @media screen and(min-width: 768px) {
    padding-top: 37px;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1280px;
  }
}

.logo {
}

.menu {
  display: flex;
  align-items: center;
  z-index: 5;
}

.navigation-list {
  display: flex;
}

.navigation-list__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.navigation-link {
  padding: 50px 0;
  font-size: 16px;
  font-weight: 1.31;
  font-weight: 700;
  color: var(--color-white);
}

.active-navigation-link {
  color: var(--color-pink-accent);
}

.main-title {
  width: 218px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  position: relative;
  z-index: 2;

  @media screen and(min-width: 768px) {
    font-size: 22px;
    width: 169px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 38px;
    width: 277px;
  }
}

.main-title--colored {
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: var(--color-pink-accent);

  @media screen and(min-width: 768px) {
    font-size: 34px;
    line-height: 0.9;
  }
  @media screen and(min-width: 1200px) {
    font-size: 58px;
  }
}

.hero {
  background-color: var(--color-pink-darker-pink);
}

.hero .container {
  height: 446px;
  padding-top: 137px;
  padding-bottom: 160px;
  position: relative;
  overflow: clip;

  @media screen and(min-width: 768px) {
    height: 312px;
    padding-top: 15px;
    overflow: visible;
  }
  @media screen and(min-width: 1200px) {
    height: 578px;
    padding-top: 84px;
    max-width: 1280px;
  }
}

.hero__btn-list {
  display: flex;
  margin-top: 20px;

  @media screen and(min-width: 1200px) {
    margin-top: 25px;
  }
}

.hero__btn-item {
  &:not(:last-child) {
    margin-right: 8px;

    @media screen and(min-width: 1200px) {
      margin-right: 15px;
    }
  }
  z-index: 2;
}

.hero .btn {
  display: flex;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  padding: 7px 10px;

  @media screen and(min-width: 1200px) {
    font-size: 14px;
    line-height: 1.29;
    padding: 11px 14px;
  }

  &.btn-colored {
    padding: 7px 13px;

    @media screen and(min-width: 1200px) {
      padding: 11px 20px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .burger-btn {
    display: none;
  }
  .touch-menu {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .navigation-list {
    display: none;
  }

  .touch-menu {
    background-color: #e17992;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    max-width: 250px;
    margin-left: auto;
    transform: translateY(0) translateX(50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    z-index: 100;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(0) translateX(0);
    }

    @media screen and(max-width: 767px) {
      height: 502px;
    }
  }
  .burger-btn {
    margin: 0 auto;
    z-index: 3;
  }

  .burger-btn,
  .close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .close-btn {
    position: absolute;
    top: 23px;
    right: 34px;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .touch-menu .btn {
    margin: 0 auto 19px;
    width: 100%;
  }

  .touch-menu-btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .touch-menu-btn__text-btn-wrapper {
    padding-left: 13px;
    padding-right: 13px;
  }

  .touch-menu__item {
    border-top: 1px solid #e18298;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;

    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }

  .touch-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: var(--color-white);
    &-active {
      color: var(--color-pink-accent);
    }
  }
}

.header__btn-wrapper {
  display: flex;
}

.header-btn {
  margin-left: 30px;
  @media screen and(max-width: 767px) {
    display: none;
  }
}

.circle {
  display: block;
  position: absolute;
  left: 36px;
  bottom: 75px;
  border-radius: 50%;
  width: 324px;
  height: 324px;
  background-color: var(--color-pink-dark);

  @media screen and(min-width: 768px) {
    left: 307px;
    bottom: 46px;
  }

  @media screen and(min-width: 1200px) {
    width: 538px;
    height: 538px;
    left: 475px;
    bottom: 75px;
  }
}

.hero__main-img {
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: 2;

  @media screen and(min-width: 768px) {
    left: 378px;
  }

  @media screen and(min-width: 1200px) {
    left: 594px;
  }
}

.hero__milk-img {
  position: absolute;
  bottom: 28px;
  left: 34px;
  z-index: 2;

  @media screen and(min-width: 1200px) {
    left: 77px;
    bottom: 45px;
  }
}

.hero__girl-img {
  position: absolute;
  bottom: 0px;
  right: 34px;
  z-index: 2;

  @media screen and(min-width: 1200px) {
    right: 109px;
  }
}

.hero-subtitle {
  position: absolute;
  bottom: 59px;
  left: 154px;
  z-index: 2;
  font-size: 8px;
  line-height: 1.5;
  color: var(--color-white);
  width: 114px;

  @media screen and(min-width: 1200px) {
    left: 295px;
    bottom: 102px;
    font-size: 14px;
    line-height: 1.4;
    width: 200px;
  }
}

.hero-arrow__circe {
  position: absolute;
  bottom: 34px;
  left: 154px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: var(--color-white);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-pink-accent);
  transition: fill 250ms linear, background-color 250ms linear;
  @media screen and(min-width: 1200px) {
    left: 295px;
    bottom: 56px;
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus {
    background-color: var(--color-pink-accent);
    fill: var(--color-white);
  }
}

.hero-arrow__arrow {
  @media screen and(min-width: 1200px) {
    width: 10px;
    height: 10px;
  }
}

.hero-counter__list {
  position: absolute;
  top: 7px;
  right: 34px;

  @media screen and(min-width: 1200px) {
    top: 69px;
    right: 115px;
  }
}

.hero-counter__item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 13px;
    @media screen and(min-width: 1200px) {
      margin-bottom: 15px;
    }
  }
}

.hero-counter__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 10px;
  top: 2px;
  z-index: 1;

  @media screen and(min-width: 1200px) {
    right: 18px;
    top: 4px;
  }
}

.hero-counter__value {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--color-pink-accent);
  margin-left: auto;

  @media screen and(min-width: 1200px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero-counter__param {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--color-white);
  margin-left: auto;

  @media screen and(min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-counter__circe {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  z-index: 0;

  @media screen and(min-width: 1200px) {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hero__milk-img {
    display: none;
  }
  .hero__girl-img {
    display: none;
  }
  .hero-subtitle {
    display: none;
  }
  .hero-counter__list {
    display: none;
  }
  .hero-arrow__circe {
    display: none;
  }
}

.animate__fadeInRight,
.animate__fadeInLeft {
  animation-delay: 0.9s;
}

.animate__rubberBand {
  animation-delay: 2s;
}
