        .products {
            padding-bottom: 120px;
            padding-top: 120px;
        }
        
        .sub-header-section {
            padding-bottom: 15px;
        }
        
        .products_header {
            padding-bottom: 30px;
        }
        
        .products_img {
            margin: 0 auto;
            padding-bottom: 20px;
            transform: translateY(150px);
        }
        
        .icecream-card_header {
            font-family: Titan One;
            font-size: 20px;
            @include font(500, 20px, 23px);
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--color-white);
            padding-bottom: 30px;
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        .icecream-card_header::after {
            content: ". . .";
            position: absolute;
            top: 30px;
            text-align: center;
            font-weight: 900;
        }
        
        .icecream-card_text {
            font-weight: 700;
            font-size: 14px;
            line-height: 152%;
            text-align: center;
            letter-spacing: 0.04em;
            color: var(--color-white);
            padding-bottom: 30px;
            padding-top: 30px;
        }
        
        .icecream-card {
            border-radius: 24px;
            position: relative;
        }
        
        .icecream-card--wrap {
            border-radius: 24px;
            padding: 40px;
            padding-top: 161px;
        }
        
        .icecream-card--pink {
            background-color: var(--color-pink-darker-pink);
        }
        
        .icecream-card--brown {
            background-color: var(--color-yellow);
        }
        
        .icecream-card--green {
            background-color: var(--color-green);
        }
        
        .icecream-card:not(:last-child) {
            margin-bottom: -135px;
        }
        
        .icecream-card:first-child {
            margin-top: -135px;
        }
        
        .icecream-card_btn {
            margin: 0 auto;
            fill: var(--color-pink-accent);
            padding: 3px;
            min-width: unset;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: block;
        }
        
        @media screen and (min-width: "768px") {
            .icecream-card:not(:last-child) {
                margin-bottom: unset;
            }
            .products_list {
                display: flex;
                justify-content: space-between;
            }
            .icecream-card {
                margin-top: -135px;
            }
            .icecream-card:not(:last-child) {
                margin-right: 20px;
            }
            .products_img {
                height: 230px;
            }
        }